<div class="diagramSection">
  <div class="btn-group btn-group-sm switcherList">
    <button type="button" class="btn btn-light" (click)="drowDiagram('wind')">Wind</button>
    <button type="button" class="btn btn-light" (click)="drowDiagram('temperature')">Temperature</button>
    <button type="button" class="btn btn-light" (click)="drowDiagram('pressure')">Pressure</button>
    <button type="button" class="btn btn-light" (click)="drowDiagram('humidity')">Humidity</button>
  </div>

  <div class="svgContainer"></div>
</div>
