<div class="diagramSection">
  <div class="btn-group btn-group-sm switcherList">
    <button type="button" class="btn" (click)="generateDiagram('wind')">Wind</button>
    <button type="button" class="btn" (click)="generateDiagram('temperature')">Temperature</button>
    <button type="button" class="btn" (click)="generateDiagram('pressure')">Pressure</button>
    <button type="button" class="btn" (click)="generateDiagram('humidity')">Humidity</button>
  </div>

  <div class="svgContainer"></div>
</div>
