.dayWeatherOptionsList {
  background-color: #fafafa;
}

.dayWeatherOption {
  margin: 10px;
}

.optionName {
  font-weight: bold;
}

.mainDataOption {
  background-color: #fafafa;
}

.currentDate {
  background-color: #fafafa;
}

.currentDateContainer {
  text-align: left;
}
